@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --glass-light: rgba(255,255,255,0.35);
  --glass-dark: rgba(20,20,20,0.35);
}

.dark { 
  color-scheme: dark;
  background: #0f1116;
}